Html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit}

.App {
  text-align: center;
  color: white;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: lightgray;
  border-bottom: 2px solid lightgray;
}

.Section-T{
  font-size: 35px;
  margin-bottom: 40px;
  /* margin-left: -200px; */
}

/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  position:fixed;
  padding: 5px;
  width:100%;
  height: auto;
  font-size: 23px;
  /* text-transform: uppercase; */
  /* background-color: rgba(0, 0, 0, 0.5) */
}

.LeftSide{
  display: flex;
  margin: 0px 10px;
}

.RightSide{
  display: flex;
}

.rightSingle{
  margin: 0px 10px 0px 20px;
}
/* MAIN */

/* HOME */
#Home {
  /* background-color: #313131; */
  background-image: url('./assets/DSC09782.jpg');
  min-height: 100vh;
  background-size: cover;
  /* background-position-y: -50px; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.LOGO{
  height: 55vh;
  margin: 10px 0px;
}

.JobTitle{
  font-size: 17px;
}

.icons{
  font-size: 30px;
  display: flex;
}

.icon{
  margin: 0px 5px;
}

/* About */
#About {
  background-color: #1b1b1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.quickDes{
  font-family: 'Montserrat', sans-serif;
}

.Line{
  width: 100px;
  height: 10px;
  border-bottom: 2px solid white;
}

.largeDes{
  font-family: 'Montserrat', sans-serif;
}

/* Skills */
#Skills{
  background-image: url('./assets/DSC09805.jpg');
  background-size: cover;
  /* background-position-y: -50px; */
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
.Skill{
  display: flex;
}

.SkillSet1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 270px;
  padding: 0px 20px;
  border-right: 2px solid white;
  font-family: 'Montserrat', sans-serif;
}

.Code{
  display: flex ;
}

.SkillSet2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 270px;
  padding: 0px 20px;
  font-family: 'Montserrat', sans-serif;
}

.design{
  display: flex;
}

.classLeft{
  width: 260px;
}

.skillRight{
  width: 260px;
}

.title{
  margin-bottom: 30px;
}
/* Projects */
#Projects {
  background-color: #313131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

/* Contact */
#Contact {
  background-color: #1b1b1b;
  height: 150px;
  font-size: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoSec{
  display: flex;
  flex-direction: row;
  font-size: 23px;
}

.information{
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}